API_PORT=20000
ENABLE_DATABASE=1

POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppassword
POSTGRES_DB=assets_db

# Para conectarte desde tu PC al contenedor
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

SCHEMA_NAME=lake
STORAGE_PATH=./storage
NODE_ENV=development

DATABASE_URL=postgresql://appuser:apppassword@localhost:5433/assets_db?schema=lake
